@import "bootstrap";
@import "jinmediaReboot";
@import "jquery.fancybox.min";
@import "agreement";
@import "slick";
@import "slick-theme";

html{
  min-height: 100%;
}

$temlatePath: '..';
$mainBackgroundColor: #ffffff;
$mobileMenuOpenColor: #316d2f;

@font-face {
  font-family: Montserrat-Bold;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Bold.ttf);
}
.f_Montserrat-Bold{
  font-family: Montserrat-Bold, sans-serif;
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(#{$temlatePath}/css/fonts/Montserrat-SemiBold.ttf);
}
.f_Montserrat-SemiBold{
  font-family: Montserrat-SemiBold, sans-serif;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Medium.ttf);
}
.f_Montserrat-Medium{
  font-family: Montserrat-Medium, sans-serif;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Regular.ttf);
}
.f_Montserrat-Regular{
  font-family: Montserrat-Regular, sans-serif;
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(#{$temlatePath}/css/fonts/Montserrat-Italic.ttf);
}
.f_Montserrat-Italic{
  font-family: Montserrat-Italic, sans-serif;
}

.fs_12{
  font-size: 12px;
}
.fs_14{
  font-size: 14px;
}
.fs_16{
  font-size: 16px;
}
.fs_18{
  font-size: 18px;
}
.fs_24{
  font-size: 24px;
}
.fs_30{
  font-size: 30px;
}
.fs_36{
  font-size: 36px;
}

.fc_fff{
  color: #ffffff;
}
.fc_2e2{
  color: #2e2e2e;
}
.fc_7e7e{
  color: #7e7e7e;
}
.fc_3b98fa{
  color: #3b98fa;
}
.fc_51d379{
  color: #51d379;
}
.fc_fff800{
  color: #fff800;
}

.fls_06{
  letter-spacing: .6px;
}
.fls_07{
  letter-spacing: .7px;
}
.fls_08{
  letter-spacing: .8px;
}
.fls_09{
  letter-spacing: .9px;
}
.fls_10{
  letter-spacing: 1px;
}
.fls_15{
  letter-spacing: 1.5px;
}
.fls_24{
  letter-spacing: 2.4px;
}

.flh_24{
  line-height: 24px;
}

.text-align_center{
  text-align: center;
}
.text-transform_uppercase{
  text-transform: uppercase;
}

.flex{
  display: flex;
}
.flex_col{
  flex-direction: column;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.absolute_100prc{
  @extend .absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body{
  @extend .f_Montserrat-Regular;
  background-color: $mainBackgroundColor;
  min-height: 100vh;
}
.page{
  @extend .flex,.flex_col;
  min-height: 100vh;
  background-color: $mainBackgroundColor;
}
.main{
  @extend .relative;
  flex: 1;
}

.btn_slideout{
  rect{
    fill: #ffbe29;
    &:first-child{
      fill: #7cc623;
    }
    &:last-child{
      fill: #df0024;
    }
  }
  @include media-breakpoint-up(lg){
    display: none;
  }
}


.left_menu {
  @extend .text-transform_uppercase,.fs_16,.fc_fff;
  ul{
    padding: 10px 20px 0;
    >li{
      border-bottom: thin solid rgba(255, 255, 255, 0.2);
      >a{
        padding: 18px 0;
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
.inner_lm{
  padding: 0 20px;
}
.socIco_lm{
  margin-top: 20px;
}

.socIco{
  .socIco_item{
    transition: transform .2s ease, box-shadow .2s ease;
    height: 42px;
    width: 42px;
    border-radius: 6px;
    &:not(:last-child){
      margin-right: 10px;
    }
    &.facebook{
      background-color: #254395;
    }
    &.vk{
      background-color: #006cb7;
    }
    &.instagram{
      background: -webkit-linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      background: -o-linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      background: linear-gradient(45deg, #f0ea33 15%, #e67b3c 35%, #dc2727 50%, #cc2366 60%, #7518bc 85%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }
    &:hover{
      transform: scale(1.1);
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.71);
    }
    svg{
      height: 65%;
      path{
        fill: #ffffff;
      }
    }
  }
}

#buttonUp{
  $borderButtonUp: 4px;
  display: none;
  z-index: 10;
  background: #8e8e8e;
  width: 40px;
  height: 40px;
  border-radius: #{$borderButtonUp};
  -moz-border-radius: #{$borderButtonUp};
  -webkit-border-radius: #{$borderButtonUp};
  position: fixed;
  bottom: -100px;
  right: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  opacity: .7;
  &.active{
    bottom: 30px;
  }
  &:hover{
    opacity: 1;
  }
  svg{
    top: 1px;
    position: relative;
    path{
      fill: #ffffff;
    }
  }
}

//--siteDefault--//

.def_title{
  @extend .f_Montserrat-SemiBold,.fs_24,.fls_24,.fc_2e2;
  line-height: normal;
  @include media-breakpoint-up(sm){
    font-size: 32px;
  }
  @include media-breakpoint-up(md){
    font-size: 36px;
  }
  @include media-breakpoint-up(xl){
    font-size: 48px;
  }
}
.def_text{
  @extend .f_Montserrat-Medium,.fs_14,.fls_10,.fc_2e2,.flh_24;
}
.def_desc{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.text-align_center;
  line-height: 24px;
}
.ico{
  font-size: 0;
}
.transitionColorBgndColor{
  transition: color .3s ease, background-color .3s ease;
}
.transitionAll{
  transition: .3s ease;
}
.def_button{
  @extend .transitionAll,.f_Montserrat-Regular,.fs_14,.fls_07,.flex,.align-items-center,.justify-content-center;
  min-height: 44px;
  width: 100%;
  border-radius: 22px;
  border: solid 1px;
}
.slideNavBtn{
  @extend .transitionAll;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.reedMore{
  margin-left: 10px;
  .dots{
    display: inline-block;
    background-color: #51d379;
    border-radius: 50%;
    margin-left: 7px;
  }
  .dots_first{
    width: 12px;
    height: 12px;
  }
  .dots_second{
    width: 10px;
    height: 10px;
  }
  .dots_last{
    width: 8px;
    height: 8px;
  }
}
.imgWrap{
  border-radius: 8px;
  font-size: 0;
  overflow: hidden;
  img{
    border-radius: 8px;
  }
}
.logoLink{
  font-size: 0;
}
.btn_mobile{
  font-size: 0;
  rect{
    fill: #ffffff;
  }
  @include media-breakpoint-up(lg){
    display: none;
  }
}
svg{
  max-width: 100%;
}
.messContent{
  width: 107%;
  height: 100%;
}
.messBlock__button{
  @extend .def_button;
  &:hover{
    color: #ffffff;
    background-color: #1e1e1e;
  }
}

//--siteStyle--//
.header{
  @extend .f_Montserrat-Medium,.fs_16,.fc_fff,.fls_08;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b98fa+0,51d379+100 */
  background: #3b98fa; /* Old browsers */
  background: -moz-linear-gradient(left, #3b98fa 0%, #51d379 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3b98fa 0%,#51d379 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3b98fa 0%,#51d379 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b98fa', endColorstr='#51d379',GradientType=1 ); /* IE6-9 */
  padding-top: 30px;
  padding-bottom: 13px;
  @media (min-width: 1200px) and (max-width: 1265px) {
    font-size: 14px;
  }
  @include media-breakpoint-down(md){
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.otherPage{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b98fa+45,3b98fa+45,51d379+100 */
    background: rgb(59,152,250); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(59,152,250,1) 45%, rgba(59,152,250,1) 45%, rgba(81,211,121,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(59,152,250,1) 45%,rgba(59,152,250,1) 45%,rgba(81,211,121,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(59,152,250,1) 45%,rgba(59,152,250,1) 45%,rgba(81,211,121,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b98fa', endColorstr='#51d379',GradientType=1 ); /* IE6-9 */
    padding: 10px 0;
    .header__logoWrap{
      img{
        max-width: 59px;
      }
    }
  }
}
.header__logoWrap{
  font-size: 0;
}
.header__phoneWrap{
  @include media-breakpoint-down(sm){
    font-size: 0;
  }
}
.header__phone{
  &.textPhone{
    border-bottom: dashed 1px;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &.svg{
    @include media-breakpoint-up(md){
      display: none;
    }
  }
}
.header__searchButtonWrap,.header__searchButton{
  font-size: 0;
}
.header__mainMenuWrap{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.menuWrap{
  a{
    border-bottom: solid 1px transparent;
    &:hover{
      border-bottom: solid 1px;
    }
  }
  .active{
    >a{
      border-bottom: solid 1px;
    }
  }
}
.header__mainMenu{
  li{
    &:hover{
      ul{
        display: block;
      }
    }
    ul{
      @extend .absolute;
      display: none;
      background-color: #ffffff;
      color: #0b0b0b;
      z-index: 10;
      white-space: nowrap;
      li{
        padding: 5px 12px;
        //border-bottom: solid 1px #8e8e8e;
      }
    }
  }
}

.sliderLine{
  @extend .relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b98fa+0,51d379+100 */
  background: #3b98fa; /* Old browsers */
  background: -moz-linear-gradient(left, #3b98fa 0%, #51d379 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3b98fa 0%,#51d379 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3b98fa 0%,#51d379 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b98fa', endColorstr='#51d379',GradientType=1 ); /* IE6-9 */
}
.slider__navBlock{
  @extend .absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  @include media-breakpoint-down(md){
    bottom: 25px;
  }
}
.slider__navBtn{
  @extend .slideNavBtn;
  path{
    fill: #ffffff;
  }
  &:hover{
    background-color: #FFFFFF;
    path{
      fill: #3e3e3e;
    }
  }
  @include media-breakpoint-down(md){
    background-color: #FFFFFF;
    path{
      fill: #3e3e3e;
    }
  }
}
.slider__slide{
  height: 807px;
  background-image: url("../images/slide_bgnd_circle.svg");
  background-position: 52px 117px;
  background-repeat: no-repeat;
  .contBgnd{
    height: 100%;
    background-image: url("../images/slider_bgnd.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md){
      background-size: auto 100%;
    }
    @include media-breakpoint-down(sm){
      background-image: none;
    }
  }
  @include media-breakpoint-down(md){
    height: 400px;
  }
}
.slider__textRow{
  padding-top: 250px;
  @include media-breakpoint-down(md){
    padding-top: 45px;
  }
  @include media-breakpoint-down(sm){
    padding-top: 15px;
  }
}
.slider__text{
  @extend .f_Montserrat-Medium,.fc_fff,.fs_24;
  @include media-breakpoint-up(md){
    font-size: 36px;
  }
  @include media-breakpoint-up(xl){
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2.4px;
  }
}
.slider__buttonRow{
  padding-top: 80px;
  @include media-breakpoint-down(md){
    padding-top: 30px;
  }
  @include media-breakpoint-down(sm){
    padding-top: 20px;
  }
}
.slider__moreButton{
  @extend .def_button,.fc_fff;
  border-color: #ffffff;
  @include media-breakpoint-up(lg){
    &:hover{
      background-color: #ffffff;
      color: #57b8cb;
    }
  }
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
}
.slider__signUpButton{
  @extend .def_button;
  color: #57b8cb;
  background-color: #ffffff;
  border-color: #ffffff;
  @include media-breakpoint-up(lg){
    &:hover{
      background-color: transparent;
      color: #ffffff;
    }
  }
}

.aboutNewsLine{
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(lg){
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
.aboutBlock__title{
  @extend .def_title;
  margin-bottom: 60px;
  span{
    @extend .fc_3b98fa;
  }
  @include media-breakpoint-down(sm){
    margin-bottom: 20px;
  }
}
.aboutBlock__text{
  @extend .def_text;
  margin-bottom: 45px;
}
.aboutBlockImgWrap{
  @extend .imgWrap;
}

.newsBlock__allNewsLink{
  @extend .f_Montserrat-SemiBold,.fs_14,.fls_07,.fc_51d379,.text-transform_uppercase;
  text-decoration: underline;
  &.top{
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
}
.newsBlock__allNewWrapBottom{
  @extend .text-align_center;
  margin-top: 30px;
  @include media-breakpoint-up(xl){
    display: none;
  }
}
.newsBlock__title{
  @extend .def_title;
  margin: 45px 0 80px;
  @include media-breakpoint-down(sm){
    margin-bottom: 40px;
  }
}
.newsRow{
  margin-bottom: 65px;
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
}
.newsImgWrap{
  @extend .imgWrap;
  img{
    width: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
}
.newsTitle{
  @extend .f_Montserrat-SemiBold,.fs_16,.fls_15;
  line-height: normal;
  margin-bottom: 10px;
}
.newsText{
  @extend .def_text;
  letter-spacing: .7px;
}

.serviceTypeLine{
  background-color: #f3f5f4;
  padding-top: 40px;
  padding-bottom: 100px;
  overflow: hidden;
  @include media-breakpoint-up(lg){
    padding-top: 90px;
    padding-bottom: 160px;  }
}
.headerRow{
  margin-bottom: 40px;
  @include media-breakpoint-up(lg){
    margin-bottom: 90px;
  }
}
.serviceType__title{
  @extend .def_title;
}
.serviceType__navBtn{
  path{
    fill: #3e3e3e;
  }
  &:hover{
    background-color: #51d379;
    path{
      fill: #ffffff;
    }
  }
  @include media-breakpoint-down(md){
    background-color: #51d379;
    path{
      fill: #ffffff;
    }
  }
}
.service_Slider{
  margin-right: -200px;
  .slick-list{
    padding-right: 200px;
  }
  @include media-breakpoint-down(sm){
    margin-right: -170px;
  }
}
.service_slideBlock{
  margin-right: 11px;
}
.service_slide{
  @extend .flex,.flex-column;
  padding: 30px;
  height: 280px;
  background-color: #ffffff;
  &:first-child{
    margin-bottom: 11px;
  }
  .slideNumber{
    @extend .f_Montserrat-SemiBold,.fs_16,.fls_08,.fc_51d379;
    margin-bottom: 20px;
  }
  .slideTitle{
    @extend .f_Montserrat-SemiBold,.fs_18,.fls_09,.fc_2e2;
    margin-bottom: 15px;
  }
  .slideText{
    @extend .def_text;
    letter-spacing: .7px;
    margin-bottom: 12px;
    flex: 1;
    overflow: hidden;
  }
  .slideMoreLink{
    text-align: right;
  }
  @include media-breakpoint-up(lg){
    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b99f8+0,4bc39b+100 */
      background: #3b99f8; /* Old browsers */
      background: -moz-linear-gradient(left, #3b99f8 0%, #4bc39b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #3b99f8 0%,#4bc39b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #3b99f8 0%,#4bc39b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b99f8', endColorstr='#4bc39b',GradientType=1 ); /* IE6-9 */
      .slideNumber{
        color: #fff800;
      }
      .slideTitle,.slideText{
        color: #FFFFFF;
      }
      .slideMoreLink{
        .dots{
          background-color: #fff800;
        }
      }
    }
  }
}

.payServiceLine{
  padding: 90px 0 195px;
  @include media-breakpoint-down(md){
    padding: 40px 0 100px;
  }
}
.payService__title{
  @extend .def_title;
  margin-bottom: 60px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}
.contentBlock__title{
  @extend .f_Montserrat-SemiBold,.fs_14,.fls_07,.fc_2e2;
  margin-bottom: 60px;
  @include media-breakpoint-down(sm){
    margin-bottom: 30px;
  }
}
.contentBlock__list{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_2e2,.flh_24;
  padding-left: 25px;
  li{
    @extend .relative;
    &:not(:last-child){
      margin-bottom: 25px;
    }
    &:before{
      @extend .absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #51d379;
      top: 8px;
      left: -25px;
    }
  }
}
.payService__linksBlock{
  @extend .flex,.flex-column,.justify-content-center,.align-items-center;
  height: 100%;
  background-color: #f3f5f4;
  padding: 15px;
  @include media-breakpoint-down(md){
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
  }
}
.priceLink,.rulesLink{
  @extend .def_button,.fc_fff;
  max-width: 260px;
}
.priceLink{
  background-color: #52d379;
  margin-bottom: 40px;
  border-color: #52d379;
  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: transparent;
      color: #52d379;
    }
  }
}
.rulesLink{
  background-color: #3b98fa;
  border-color: #3b98fa;
  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: transparent;
      color: #3b98fa;
    }
  }
}

.consultFormLine{
  padding-top: 62px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b98fa+0,51d379+100 */
  background: #3b98fa; /* Old browsers */
  background: -moz-linear-gradient(left, #3b98fa 0%, #51d379 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3b98fa 0%,#51d379 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3b98fa 0%,#51d379 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b98fa', endColorstr='#51d379',GradientType=1 ); /* IE6-9 */}
.bgndImageBlock{
  &::before{
    @extend .absolute;
    content: url("../images/8.png");
    bottom: 0;
    font-size: 0;
  }
  @include media-breakpoint-down(md){
    display: none;
  }
}
.consultForm__form{
  padding-bottom: 78px;
  .form-group{
    @extend .relative;
    .help-block{
      @extend .absolute,.fs_12,.text-align_center;
      bottom: 10px;
      width: 100%;
      color: #953b39;
    }
  }
}
.consultForm__title{
  @extend .f_Montserrat-Medium,.fs_24,.fc_fff,.text-align_center;
  letter-spacing: 1.8px;
  margin-bottom: 56px;
  @include media-breakpoint-up(sm){
    font-size: 32px;
  }
  @include media-breakpoint-up(md){
    font-size: 36px;
  }

}
.consultForm__input{
  @extend .f_Montserrat-Regular,.fs_16,.fls_08,.text-align_center,.fc_fff;
  padding: 14px;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}
.consultForm__submit{
  @extend .def_button;
  background-color: #ffffff;
  color: #49bfa5;
  border-color: #ffffff;
  margin: 14px auto 0;
  max-width: 230px;
  @include media-breakpoint-up(lg) {
    &:hover {
      background-color: transparent;
      color: #ffffff;
    }
  }
}

.contactLine{
  padding: 90px 0;
  overflow: hidden;
  .map{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    @extend .absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    @include media-breakpoint-down(lg){
      width: 45%;
    }
  }
  @include media-breakpoint-down(md){
    padding: 40px 0;
    .map{
      position: relative;
      width: 100%;
      bottom: auto;
      top: -40px;
      height: 50vw;
    }
  }
}
.contact__title{
  @extend .def_title;
  margin-bottom: 72px;
}
.contactRow{
  @extend .fc_2e2;
  margin-bottom: 40px;
  .ico{
    @extend .text-align_center;
  }
}
.contactRow__title,.contactRow__text{
  margin-bottom: 10px;
}
.contactRow__title{
  @extend .f_Montserrat-SemiBold,.fs_18,.fls_09;
}
.contactRow__text{
  @extend .f_Montserrat-Medium,.fs_16,.fls_08;
}
.insCompany__title{
  @extend .f_Montserrat-SemiBold,.fs_24,.fls_15,.fc_2e2;
  margin: 20px 0;
  @include media-breakpoint-up(sm){
    font-size: 28px;
    margin: 50px 0;
  }
  @include media-breakpoint-up(md){
    font-size: 30px;
  }

}

.footer{
  padding: 105px 0 47px;
  background-color: #2e2e2e;
  @include media-breakpoint-down(md){
    padding: 40px 0 30px;
  }
  @include media-breakpoint-down(md){
    padding: 20px 0 10px;
    text-align: center;
  }
}
.footer__leftBlock{
  @extend .absolute;
  background: no-repeat center url("../images/20.png");
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  @include media-breakpoint-down(lg){
    width: 55%;
  }
  @include media-breakpoint-down(md){
    width: 100%;
  }
}
.copyrightLine{
  margin-bottom: 50px;
  @include media-breakpoint-down(md){
    margin-bottom: 19px;
  }
}
.footer__logoWrap{
  @include media-breakpoint-down(xs){
    img{
      width: 70px;
    }
  }
}
.copyright{
  @extend .f_Montserrat-Medium,.fs_14,.flh_24,.fls_07,.fc_fff,.text-transform_uppercase;
  margin-right: -20px;
  @include media-breakpoint-down(xs){
    margin: 0;
    font-size: 12px;
    line-height: normal;
  }
}
.weLinkWrap{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff;
  text-align: right;
  a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  @include media-breakpoint-down(xs){
    text-align: center;
  }
}
.footer__menuWrap{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.footer__menu{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff;
  li{
    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
}

.pageTitle{
  @extend .def_title;
  padding: 120px 0 90px;
  @include media-breakpoint-down(md){
    padding: 70px 0 50px;
  }
  @include media-breakpoint-down(sm){
    padding: 35px 0 25px;
  }
}

//payServicePage
.toggleBlockWrap_payService{
  margin-bottom: 120px;
  @include media-breakpoint-down(md){
    margin-bottom: 50px;
  }
}
.toggleBlock{
  border-bottom: solid 1px #dbdde0;
}
.toggleBock__header{
  padding: 25px 0;
  cursor: pointer;
  @include media-breakpoint-down(xs){
    padding: 15px 0;
  }
}
.toggleBlock__title{
  @extend .f_Montserrat-Medium,.fs_24,.fc_2e2,.fls_15;
  @include media-breakpoint-down(xs){
    font-size: 20px;
  }
}
.toggle__ico{
  font-size: 52px;
  line-height: 35px;
  color: #51d379;
  &.open{
    color: #f2405c;
  }
}
.toggleBlock__toggle{
  padding: 0 15px;
}
.tableHead,.tableRow{
  @extend .fs_14,.fls_07,.fc_2e2;
  &:nth-child(odd){
    background-color: #f3f5f4;
  }
  padding: 10px 0;
}
.tableHead{
  @extend .f_Montserrat-SemiBold;
  @include media-breakpoint-down(xs){
    font-size: 12px;
  }
}
.tableRow{
  .servPrice{
    @extend .f_Montserrat-SemiBold,.fs_18,.fls_09;
    @include media-breakpoint-down(sm){
      font-size: 14px;
    }
  }
}
.dayCount,.servPrice{
  @extend .text-align_center;
}
.servicePayLine_page{
  padding-bottom: 40px;
}
.payServiceInfoImg{
  @include media-breakpoint-down(md){
    display: none;
  }
}
.gvnpLink{
  @extend .f_Montserrat-Medium,.fs_16,.fls_08,.fc_fff,.text-align_center;
  text-decoration: underline;
  display: block;
  margin-top: 90px;
  border-radius: 8px;
  padding: 20px 40px;
  background-color: #3b98fa;
  @include media-breakpoint-down(sm){
    font-size: 14px;
  }
}

//rememberPage
.toggleBlockWrap_reminder{
  margin-bottom: 60px;
}
.toggleBlock__toggle_text{
  h2,h3,h4,p{
    @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_2e2;
    margin-bottom: 20px;
    b,strong{
      @extend .f_Montserrat-SemiBold;
    }
  }
}
.servicePayLine_rules{
  padding: 0 0 40px;
  .rules__title{
    font-size: 30px;
    @include media-breakpoint-down(sm){
      font-size: 24px;
    }
    @include media-breakpoint-down(xs){
      font-size: 18px;
    }
  }
  .contentBlock__title.bottom{
    margin: 50px 0 0;
  }
  .gvnpLink.reminder{
    margin-top: 40px;
  }
}

//omsPage
.toggleBlockWrap_oms{
  margin-bottom: 40px;
}
.omsDocLinkWrap{
  margin-bottom: 90px;
  @include media-breakpoint-down(md){
    margin-bottom: 40px;
  }
}
.omsDocLinkBlock{
  margin-bottom: 30px;
}
.omsDocLink{
  @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_fff,.flex,.align-items-center,.justify-content-center,.text-align_center;
  text-decoration: underline;
  min-height: 100px;
  height: 100%;
  border-radius: 8px;
  background-color: #f2657b;
  padding: 18px;
}

//tableDoctor
.tableDoctorWrap-sm{
  @extend .fs_16,.fls_08,.fc_2e2;
  padding: 0 15px;
  margin-bottom: 40px;
  .tableHeaderRow,.otherRow{
    padding: 20px 0;
    &:nth-child(odd){
      background-color: #f3f5f4;
    }
  }
  .tableHeaderRow{
    @extend .f_Montserrat-SemiBold;
  }
  .otherRow{
    @extend .f_Montserrat-Medium;
  }
  @include media-breakpoint-down(md){
    font-size: 14px;
  }
  @include media-breakpoint-down(sm){
    text-align: center;
  }
  @include media-breakpoint-down(xs){
    display: none;
  }
}
.tableDoctorWrap{
  @extend .f_Montserrat-Regular,.fs_14,.fls_08;
  @include media-breakpoint-up(sm){
    display: none;
  }
  label{
    @extend .f_Montserrat-SemiBold,.fs_16,.fls_09;
    margin-bottom: 20px;
  }
  .doctor__selectWrap{
    @extend .relative;
    background-color: #ffffff;
    margin-bottom: 20px;
    &:after{
      @extend .absolute,.flex,.justify-content-center,.align-items-center;
      z-index: 1;
      content: url("#{$temlatePath}/images/chevron_down.svg");
      width: 32px;
      height: 100%;
      right: 0;
      top: 0;
    }
    .select{
      @extend .relative,.f_Montserrat-SemiBold,.fs_16,.fls_09;
      z-index: 2;
      background-color: transparent;
      width: 100%;
      height: 42px;
      border-radius: 8px;
      border: solid 1px #cfd8dd;
      padding-left: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      option{
        @extend .f_Montserrat-Medium,.fs_14;
      }
    }
  }
  .doctorTiming{
    line-height: 30px;
    &:not(.active){
      display: none;
    }
    .doctorItem{
      &:nth-child(even){
        background-color: #f3f5f4;
      }
      margin-bottom: 20px;

    }
    .nameTitle{
      @extend .f_Montserrat-SemiBold,.fs_16;
    }
    .tableMobile__time{
      @extend .f_Montserrat-Medium,.fs_16;
    }
  }
}


//servTipePage
.toggleBlockWrap_servTipe{
  margin-bottom: 40px;
}

//PersonalPage
.personalBlock{
  border: solid 1px #d1d5da;
  padding: 15px;
  margin-bottom: 30px;
}
.personalImg{
  font-size: 0;
  width: 100%;
  height: 100%;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
.personalText{
  @extend .text-align_center,.f_Montserrat-Medium;
  .name{
    @extend .fs_16,.fls_08,.fc_2e2;
    margin-bottom: 15px;
  }
  .job{
    @extend .fs_12,.fls_06,.fc_7e7e;
  }
}

//NewsPage
.newsRow{
  margin-bottom: 60px;
}
.newsPageImgWrap{
  @extend .imgWrap,.relative;
  width: 100%;
  padding-top: 73.474%;
  img{
    @extend .absolute_100prc;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.newsTextWrap{
  height: 100%;
  @include media-breakpoint-down(md){
    padding-top: 30px;
  }
}
.newsTitle{
  @extend .f_Montserrat-SemiBold,.fs_16,.fls_08,.fc_2e2;
}
.newsPublishDate{
  @extend .f_Montserrat-SemiBold,.fs_12,.fls_06,.fc_51d379;
}
.newsShortText{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_2e2,.flh_24;
  margin: 30px 0 15px;
  flex: 1;
}
.newsReadMore{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_51d379;
  width: 100%;
  min-height: 50px;
  border-radius: 8px;
  background-color: #f3f5f4;
  &.newsLess{
    margin-top: 15px;
  }
}
.newsFullText{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_2e2,.flh_24;
  margin-top: 30px;
  display: none;
}

.pagination{
  ul{
    @extend .f_Montserrat-Medium,.fs_14,.fls_07,.fc_51d379,.flex;
    margin-bottom: 100px;
    li{
      @extend .relative;
      width: 42px;
      height: 42px;
      border-radius: 8px;
      background-color: #f3f5f4;
      &:not(:last-child){
        margin-right: 3px;
      }
      &.active{
        color: #ffffff;
        background-color: #51d379;
      }
      &:hover{
        color: #ffffff;
        background-color: #48a756;
      }
      a,span{
        @extend .absolute_100prc,.flex,.justify-content-center,.align-items-center;
      }
    }
    @include media-breakpoint-down(md){
      margin-bottom: 60px;
    }
    @include media-breakpoint-down(sm){
      margin-bottom: 30px;
    }
  }
}

//CommentPage
.commentRow{
  margin-bottom: 40px;
}
.commentTitle{
  @extend .f_Montserrat-SemiBold,.fs_16,.fls_08,.fc_2e2,.flh_24;
}
.commentCreateDate{
  @extend .f_Montserrat-SemiBold,.fs_12,.fls_06,.fc_51d379,.flh_24;
}
.commentText{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.fc_2e2,.flh_24;
  margin-top: 30px;
}
.commentFormLine{
  @extend .consultFormLine;
  padding-top: 75px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.commentForm__form{
  @extend .consultForm__form;
  padding-bottom: 95px;
}
.commentForm__title{
  @extend .consultForm__title;
}
.commentForm__input{
  @extend .consultForm__input;
  text-align: left;
}
.commentForm__textarea{
  @extend .commentForm__input;
  height: 220px;
}
.commentForm__submit{
  @extend .consultForm__submit;
}

.pageMainImage{
  @extend .imgWrap;
  max-height: 500px;
  height: 30vw;
  img{
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

//AboutPage
.aboutText{
  @extend .f_Montserrat-Regular,.fs_14,.fls_07,.flh_24,.fc_2e2;
  margin-top: 45px;
  p{
    &:not(:last-child){
      margin-bottom: 40px;
    }
  }
}
.licenseTitle{
  @extend .pageTitle;
  @include media-breakpoint-up(xl){
    padding: 85px 0 65px;
  }
}
.licenseImgLinkWrap{
  margin-bottom: 30px;
  font-size: 0;
}
.aboutContactLine{
  margin-bottom: 40px;
}
.aboutDetailBlock{
  height: 100%;
}
.aboutContactTitle{
  @extend .f_Montserrat-SemiBold,.fs_36,.fc_2e2;
  letter-spacing: 1.8px;
  padding: 80px 0;
  @include media-breakpoint-down(md){
    padding: 45px 0;
    font-size: 32px;
  }
  @include media-breakpoint-down(sm){
    padding: 25px 0;
    font-size: 28px;
  }
}
.aboutContactBody{
  @extend .f_Montserrat-Medium,.fs_16,.fls_08,.fc_2e2;
  flex: 1;
  border-radius: 8px;
  background-color: #f3f5f4;
  height: 100%;
  padding: 70px 75px;
  &.contact{
    padding-left: 100px;
    @include media-breakpoint-down(sm){
      padding-left: 30px;
    }
  }
  .contactTextRow,p{
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  .bold{
    @extend .f_Montserrat-SemiBold;
  }
  @include media-breakpoint-down(sm){
    padding: 30px 15px;
  }
}

//VacansyPage
.vacansyBlockWrap{
  margin-top: 55px;
}
.vacansyRow{
  @extend .commentRow;
  margin-bottom: 45px;
}
.vacansyTitle{
  @extend .commentTitle;
}
.vacansyCreateDate{
  @extend .commentCreateDate;
}
.vacansyText{
  @extend .commentText;
}